# Database
DATABASE_URL=postgresql://user:password@localhost:5432/manov_db

# JWT
SECRET_KEY=your-super-secret-key-change-this-in-production

# Docs Basic Auth
DOCS_USERNAME=admin
DOCS_PASSWORD=change-me-in-production

# Frontend URL (used for sitemap)
FRONTEND_URL=https://manov.pascarz.site
